# SkyLedger MySQL Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=rootpassword
MYSQL_DATABASE=skyledger_db

# SkyLedger MongoDB Database Configuration for Audit Logs
MONGODB_URI=mongodb://admin:mongopassword@localhost:27018/skyledger?authSource=admin
MONGO_USER=admin
MONGO_PASSWORD=mongopassword
MONGO_DATABASE=skyledger
MONGO_PORT=27018

# AirLabs API Configuration for Airports Sync
AIRLABS_API_KEY=AIRLABS_API_KEY
DUFFEL_API_KEY=DUFFEL_API_KEY

# MinIO Local Storage Configuration for Flight Deals
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=skyledger-deals
AWS_ENDPOINT=http://127.0.0.1:9000